{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 8",
            "chrome >= 62"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}